* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    padding: 50px;
}

ul{
    font-size: 1.5rem;
    list-style-type: none;
}

p span:nth-child(1),
p span:nth-child(2){
    display: inline-block;
    height: 35px;
}

p span:nth-child(1){ 
    width: 35px;
    margin: 10px;
    font-size: 1.3rem;
    background-color: greenyellow;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}

p span:nth-child(2){
    margin-left: 10px;
}

span.l-through{
    text-decoration: line-through;
}