<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="js/script.js" defer></script>
</head>

<body>
    <div id="root">
        <div class="container">
            <h1>TODO LIST</h1>

            <!-- Bonus:
                2- cliccando sul testo dell'item, invertire il valore della proprietà done del todo corrispondente (se done era uguale a false, impostare true e viceversa)-->
            <div class="areaAddTodo">
                <h3>Aggiungi un nuovo TO DO:</h3>
                <input type="text" @keyUp.enter="addTodo" v-model="addTextTodo">
                <i class="fa-solid fa-pen"></i>
                <button @click="addTodo">Aggiungi</button>
            </div>

            <ul>
                <li @click="changeDone(index)" v-for="(todo, index) in todos">
                    <p>
                        <span>{{index + 1}}</span>
                        <span :class="{'l-through': todo.done}">{{todo.text}}</span>
                        <span @click="deleteTodo(index)"><i class="fa-solid fa-xmark"></i></span>
                    </p>
                </li>
            </ul>

        </div>
    </div>
</body>

</html>